* {
  margin: 0; padding: 0; box-sizing: border-box;
}

#greeting_container {
  height: 100vh;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#login_form {
  display: flex;
}

.hidden {
  display: none !important;
}